html{font-size:62.5%;}
html,body{height:100%;overflow:hidden;font-family:"Lucida Grande","lucida sans",Verdana,Helvetica,Arial;font-size:0.9em;}
body{position:relative;color:#531012;}

#logo {position:absolute;z-index:2;left:10px;top:10px;}
#load-message {position:absolute;z-index:0;left:30px;top:90px;width:550px;}
#load-message h2 {font-size:2em;padding:10px 0px;}
#load-message p {font-size:1em;padding:5px 0px;}


.clear {clear:both;}
.floatleft {float:left;}

.pointer {cursor:pointer;}
.hidden {display:none;}
#points.authorized .actions {display:inline;}

#map {height:100%;width:100%;z-index:1;position:relative;}
#pointlist {position:absolute;z-index:100;width:200px;background-color: #fff;top:0px;right:100px;opacity:0.9;}
#info-message {position:absolute;z-index:500;background-color: #fff;padding:10px;}

#auth {position:absolute;z-index:2;right:0px;top:0px;}
#homespot-link{position:absolute;z-index:2;top:0px;left:0px;}
#points {width:100%;overflow:auto;display:block;max-height:200px;}
#points .point {display:block;padding:5px 2px; border-bottom:1px solid #d9d6d1;cursor:pointer; color:#531012;}
#points .point:hover {background:#823f41;color:#fff;}
#points .title {cursor:pointer;padding:5px;}
#points .actions {display:none;padding:5px;margin:2px 0px 0px 5px;cursor:pointer;font-size:9px;background:#eee;}
#points .actions:hover {color:#00f;text-decoration:underline;}


/*Dialog box styles*/
.dialogs {display:none;}
.ui-resizable-handle {cursor:default !important;display:none !important;}
.ui-dialog{border:2px solid #f2bf24;overflow:hidden;}
.ui-dialog-titlebar {padding:10px;opacity:0.9;background:#99b3cc;cursor:move;font-weight:bold;font-family:"Lucida Grande",Helvetica,Verdana,Arial;position:relative;}
.ui-dialog-content {padding:10px;opacity:0.9;background:#fff;}
.ui-dialog-titlebar-close{position:absolute;cursor:pointer;right:0px;top:0px;}
.dialogs .error {color:#f00;font-size:0.8em;padding:5px;}
.button {display:block;padding:5px;float:left;margin:5px 5px 0px 0px;}
.button:hover {text-decoration:underline;}
.button.ok {background:#c4f9af;border:1px solid #0f0;}
.button.cancel{background:#fa7373;border:1px solid #f00;}
