html,body{height:100%;overflow:hidden;}
body{position:relative;}
#map {height:100%;width:100%;z-index:1;position:relative;}
#pointlist {position:absolute;z-index:100;width:200px;background-color: #fff;top:0px;right:100px;}
#info-message {position:absolute;z-index:500;background-color: #fff;padding:10px;}

.dialogs {display:none;}
.pointer {cursor:pointer;}
.hidden {display:none;}
.ui-resizable-handle {cursor:default !important;display:none !important;}