<div id="dialog-create-user" class="dialogs">
	<div class="center">Type in the URL for your PinnSpot (use only letters and numbers):</div>
	<div class="center">
		<div class="url_start inline">www.pinnspot.com/</div>
		<input class="inline special red-border big_rounded" id="text-url" name="url"/>
	</div>
	<div id="create-button" class="button ok pointer center big_rounded">Create!</div>
	<div class="clear"></div>
	<br/>
	<em class="block center">If you already have a spot, your pinns will move to the new spot.</em>
</div>