<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>	
<head >
	<meta name="description" content="Need to show the world your home, office, shop, party, restaurant, school, college or just yourself? Put them on the map! It's easy, fast and free."/>
	<title>{% if info.user_nick %}{{info.user_nick}}'s {% endif %}PinnSpot : Put Yourself on the Map!</title>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link type="text/css" rel="Stylesheet" href="/static/css/reset.css"/>
	<link type="text/css" rel="Stylesheet" href="/static/css/main.css"/>
	{% include "jsinit.html" %}

</head>
<body onunload="GUnload()">
	<div id="logo"><a href="/"><img src="static/images/logo.png"/></a></div>
	<div id="load-message" class="display_message over_map">
		<h2>Loading {% if info.user_nick %}{{info.user_nick}}'s{% endif %} PinnSpot...</h2>
		<noscript>
			<p>If you cannot see the map, make sure you have Javascript turned on and also disable any ad-blockers you might have.</p>
		</noscript>
	</div>
	<div id ="map"></div>	
	{% include "messages.html" %}

	<div id="view_shift" class="main_button white_trans pointer overlay">Satellite View</div>
	{% ifequal auth.url info.current_url %}<div id="help_button" class="main_button white_trans pointer overlay show_help">Help ?</div>{% endifequal %}
	<div id="auth" class="overlay nice_links" ><a class="main_button white_trans pointer" href="{{auth.link}}">{{auth.label}}</a></div>
	
	{% if info.user_url %}
	{% ifnotequal info.user_url info.current_url %}
	<div id="homespot_link" class="overlay nice_links">
		<a class="main_button white_trans pointer" href="/{{info.user_url}}">Back to Your Pinnspot -></a>
	</div>
	{% endifnotequal %}
	{% endif %}

	{% if not info.user_url %}	
	<div id="create_user" class="main_button white_trans pointer overlay">+ Create your own PinnSpot</div>
	{% endif %}

	<div id = "pointlist" class="pointer white_trans">
		{% if info.user_nick %}
		<div class="heading">{{info.user_nick}}'s Pinns</div>
		{% endif %}
		<div id = "points" {% if auth.at_home %} class="authorized" {% endif %}>
			{% include "pointlist.html" %}
		</div>
		{% if auth.at_home%}
		<div id="add_point" class="heading">Add Pinn</div>
		{% endif %}			
	</div>

	{% include "dialogs/pointmaker.html" %}
	{% include "dialogs/firsttime.html" %}
	{% include "javascripts.html" %}
</body>
</html>