<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>	
<head>
	<title>PinnSpot : Put Yourself on the Map! </title>
	<link type="text/css" rel="Stylesheet" href="/static/css/reset.css"/>
	<link type="text/css" rel="Stylesheet" href="/static/css/main.css"/>
	<script type="text/javascript">
	var INFO = {
		auth: {{auth.status}},
		url: {% if auth.url %}"{{auth.url}}"{% else %}false{% endif %},
		currentUrl: {% if info.current_url %}"{{info.current_url}}"{% else %}false{%endif%}	
	};
	</script>
</head>
<body onunload="GUnload()">
	<div id="load_message">
		<h2>Welcome to PinnSpot!</h2>
		<p>Loading the map... this might take a few seconds.</p>
		<em>If you cannot see the map, make sure you have Javascript turned on and also disable ad blockers you might have.</em>
	</div>
	<div id ="map"></div>
	<div id = "pointlist">
		<div id = "points">
		{% include "pointlist.html" %}
		</div>
		{% if auth.url and auth.status%}
		{% ifequal auth.url info.current_url  %}
		<div id="add-point" class="pointer">New Pinn</div>
		{% endifequal %}	
		{% endif %}

		{% if not auth.url and auth.status %}	
		<div id="create-user" class="pointer">Create User</div>
		{% endif %}
		
	</div>
	<div id="auth"><a href="{{auth.link}}">{{auth.label}}</a></div>



	<div id="info-message" class="dialogs"></div>
	<div id="dialog-add-point" class="dialogs">
		<label for="text-title">Title</label>
		<input id="text-title" name="title"/>
		<div class="error"></div>
		<div class="button ok pointer">Save</div>
		<div class="button cancel pointer">Cancel</div>	
	</div>
	<div id="dialog-create-user" class="dialogs">
		<label for="text-url">URL:</label>
		<input id="text-url" name="url"/>
		<div class='error'></div>
		<div class="button ok pointer">Create!</div>
		<div class="button cancel pointer">Cancel</div>		
	</div>

	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAdOCIY5iMV76jbHcybACMhxQJ8yOHUs7t7lIMquszWcld5MK39RTgAaUQNxvDa9y-O8vhJ3O_2hkq0w"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	{% include "footers.html" %}

</body>


</html>
