<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>	
<head >
	<title>{% if info.user_nick %}{{info.user_nick}}'s {% endif %}PinnSpot : Put Yourself on the Map!</title>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link type="text/css" rel="Stylesheet" href="/static/css/reset.css"/>
	<link type="text/css" rel="Stylesheet" href="/static/css/main.css"/>
	{% include "jsinit.html" %}

</head>
<body onunload="GUnload()">
	<div id="logo"><a href="/"><img src="static/images/logo.png"/></a></div>
	<div id="load-message" class="display_message over_map">
		<h2>Loading {% if info.user_nick %}{{info.user_nick}}'s{% endif %} PinnSpot...</h2>
		<noscript>
		<p>If you cannot see the map, make sure you have Javascript turned on and also disable any ad-blockers you might have.</p>
		</noscript>
	</div>
	<div id ="map"></div>	
	{% if info.user_url %}
	{% ifnotequal info.user_url info.current_url %}
	<div id="homespot-link" class="overlay">
		<a class="main_button white_trans pointer" href="/{{info.user_url}}">Back to Your Pinnspot -></a>
	</div>
	{% endifnotequal %}
	{% endif %}

	{% if not auth.url and auth.status %}	
	<div id="create-user" class="main_button overlay white_trans pointer">+ Create your own PinnSpot</div>
	{% endif %}

	<div id="auth" class="overlay" ><a class="main_button white_trans pointer" href="{{auth.link}}">{{auth.label}}</a></div>
	<div id="info-message" class="dialogs"></div>

	<div id = "pointlist" class="pointer white_trans">
		{% if info.user_nick %}
		<div class="heading">{{info.user_nick}}'s Pinns</div>
		{% endif %}
		<div id = "points" {% if auth.at_home %} class="authorized" {% endif %}>
			{% include "pointlist.html" %}
		</div>
		{% if auth.at_home%}
		<div id="add-point" class="heading">+ Add Pinn</div>
		{% endif %}			
	</div>

	{% include "dialogs/pointmaker.html" %}
	{% include "dialogs/firsttime.html" %}

	{% if not info.current_url %}
	<div id="welcome" class="white_trans display_message over_map">
		<h2>Show Everyone.</h2>
		<p>Need to show the world where you are? Where the party is tonight? Where your offices are?</p>
		<p>Log in, create your spot, and give pinnspot.com/name to everyone. <strong>It's easy, fast and free.</strong></p>
		<p>This is a still a work in progress, so any feedback and feature requests are welcome. There's a good chance you'll get what you ask for :)</p>
		<p>If you're looking for a more powerful commercial solution that you can use with your own branding, then PinnPro might be what you need. Watch this space for more details.</p>
	</div>
	{% endif %}
	{% if info.empty_spot %}
	<div id="welcome" class="white_trans display_message over_map">
		<h2>Empty PinnSpot.</h2>
		<p>Looks like no one has taken this spot yet... if you don't already have one, login to create your PinnSpot here.</p>
	</div>
	{% endif %}
	<div id="view_shift" class="main_button white_trans pointer overlay">Satellite View</div>

	{% include "javascripts.html" %}

</body>
</html>